.quiz {
    max-width: 768px;
    margin: 0px auto;
    background-color: #D9F0FF;
    position: relative;
}

.questions-container {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px; */
    height: 600px;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 600px;
}

.quiz-questions-title {
    font-size: 40px;
    font-family: helvetica;
    height: 165px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.about-you, .about-dog {
    margin: 0 auto;
    text-align: center;
}

.text {
    font-weight: bold;
}

.quiz-question {
    transition: 350ms ease all;
    text-align: center;
    padding-top: 20px;
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 80px;
}

.option {
    width: 120px;
    height: 80px;
    max-width: 80px;
    margin: 0 auto;
    display: inline-block;
}

.icon-container {
    width: 80px;
    height: 50px;
    margin: 0 auto;
}

.question-icon {
    width: 50px;
    height: 50px;
}

.small {
    width: 20px;
    height: 20px;
    padding: 30px;
}

.medium {
    width: 35px;
    height: 35px;
    padding: 15px;
}

.option-text {
    width: 80px;
    height: 140px;
    margin: 0 auto;
}

.selected {
    border: 1px black solid;
}

.dog-card {
    width: 400px;
    height: 460px;
    margin: 20px auto;
}

.dog-image {
    max-width: 220px;
    margin: 0 auto;
}

.bottom-spacer {
    height: 200px;
    background-color: red;
}
